**------------ This is just a test on how to perform standard scaling and predict value on new input from user   ------------**

# 1. Import dataset and necessary libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("heart.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

**I. Original shape of dataset:**

In [4]:
df.shape

(1025, 14)

**II. Random rows selection from the dataset, around 20% hence 205 rows:**}

In [5]:
test = df.sample(205, replace=False)

In [6]:
test.shape

(205, 14)

**III. Removing the randomly selected rows from the dataset:**

In [7]:
df = df.drop(test.index)

In [8]:
df.shape

(820, 14)

**IV. Train datatset:**

In [9]:
train = df

In [10]:
train.shape

(820, 14)

In [11]:
train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1

**V. Test dataset:**

In [12]:
test.shape

(205, 14)

In [13]:
test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
556,59,1,0,140,177,0,1,162,1,0.0,2,1,3,0
286,64,0,2,140,313,0,1,133,0,0.2,2,0,3,1
681,59,1,0,170,326,0,0,140,1,3.4,0,0,3,0
202,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
780,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0

# 2. Split the dataset into input and output columns:

In [14]:
x = df.iloc[: , 0:13]

In [15]:
y = df.iloc[:, 13]

**I. Perform Standard Scaling on input data: [IMPORTANT]**

In [16]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(x)
x = scaler.transform(x)

**Here, I have trained the scaler using our training data to obtain the mean and standard deviation,so that i can later use the scaler to perform standard scaling on user input.
The scaler itself isn't used for model training. Its purpose is to calculate and store scaling parameters for later use.**

In [17]:
scaler

StandardScaler()

In [18]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x, y)

KNeighborsClassifier(n_neighbors=3)

# 3. Test dataset:

In [19]:
test_x = test.iloc[:, 0:13]
test_y = test.iloc[:, 13]

In [20]:
test_x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
556,59,1,0,140,177,0,1,162,1,0.0,2,1,3
286,64,0,2,140,313,0,1,133,0,0.2,2,0,3
681,59,1,0,170,326,0,0,140,1,3.4,0,0,3
202,52,1,3,152,298,1,1,178,0,1.2,1,0,3
780,44,1,0,120,169,0,1,144,1,2.8,0,0,1

In [21]:
test_x.iloc[[1]]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
286,64,0,2,140,313,0,1,133,0,0.2,2,0,3

In [22]:
print(test_y.iloc[1])

1

**I. Perfom standard scaling on single row with the help of scaler:**

In [23]:
scaled_input = scaler.transform(test_x.iloc[[1]])

In [24]:
scaled_input

array([[ 1.05832579, -1.50996689,  1.02829409,  0.44142646,  1.31477994,
        -0.42209113,  0.91834127, -0.67722874, -0.72987004, -0.74105573,
         1.01890343, -0.74896045,  1.09960421]])

In [25]:
test_y.iloc[1]

1

**II. Model prediction:**

In [26]:
y = knn.predict(scaled_input)

In [27]:
y

array([1], dtype=int64)

**Model correctly predicted the output**